{% extends "base.html" %}

{% block title %}Best Deals | Green Mart{% endblock %}

{% block content %}
<div class="container">
<h3>Best Deals</h3>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('views.home') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Best Deals</li>
  </ol>
</nav>


<div class="container mt-4">    
    <div class="row text-center justify-content-center">
      {% for id, img, title, price in [
          ('1', image6, "Cherry Tomato", "$120"),
          ('2', image7, "Organic Juice", "$150"),
          ('3', image8, "Brocoli", "$199"),
          ('4', image9, "Quinoa", "$175")
          ] %}
      <div class="col-lg-3 col-md-4 col-6 mb-4 product-card">
        <div class="product-img-box">
          <img src="{{ img }}" class="img-fluid" style="height:200px;">
          <div class="hover-icons">
            <!-- Quick View -->
                <a href="{{ url_for('views.product_detail', product_id=id) }}">
                  <i class="bi bi-eye"></i>
                </a>
            <a href="{{ url_for('views.add_to_wishlist', product_id=id) }}">
  <i class="bi bi-heart"></i>
</a>
            <a href="#" onclick="shareProduct('{{ name }}', '{{ id }}')">
    <i class="bi bi-share-fill"></i>
</a>
          </div>
        </div>
        <h6 class="mt-2">{{ title }}</h6>
        <h6 class="mb-1" style="color:#0B7D2A">{{ price }}</h6>
         <form action="{{ url_for('views.add_to_cart', product_id=id) }}" method="POST">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" name="quantity" value="1">
              <button type="submit" class="btn btn-success w-10">
                Add to Cart
              </button>
            </form>
      </div>
      {% endfor %}
    </div>
</div>


<div class="container mt-4">    
    <div class="row text-center justify-content-center">
      {% for id, img, title, price in [
        ('5', image10, "Grapes", "$130"),
        ('6', image11, "Oats", "$210"),
        ('7', image12, "Cow Milk", "$170"),
        ('8', image13, "Organic Spices", "$250")
      ] %}
      <div class="col-lg-3 col-md-4 col-6 mb-4 product-card">
        <div class="product-img-box">
          <img src="{{ img }}" class="img-fluid" style="height:200px;">
          <div class="hover-icons">
            <!-- Quick View -->
                <a href="{{ url_for('views.product_detail', product_id=id) }}">
                  <i class="bi bi-eye"></i>
                </a>
            <a href="{{ url_for('views.add_to_wishlist', product_id=id) }}">
  <i class="bi bi-heart"></i>
</a>
           <a href="#" onclick="shareProduct('{{ name }}', '{{ id }}')">
    <i class="bi bi-share-fill"></i>
</a>
          </div>
        </div>
        <h6 class="mt-2">{{ title }}</h6>
        <h6 class="mb-1" style="color:#0B7D2A">{{ price }}</h6>
         <form action="{{ url_for('views.add_to_cart', product_id=id) }}" method="POST">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" name="quantity" value="1">
              <button type="submit" class="btn btn-success w-10">
                Add to Cart
              </button>
            </form>
      </div>
      {% endfor %}
    </div>
</div>


<div class="container mt-4">    
    <div class="row text-center justify-content-center">
      {% for id, img, title, price in [
        ('9', image14, "Avocado", "$300"),
        ('10', image15, "Welnuts", "$350"),
        ('27', image27, "Whole Wheat Bread", "$150"),
        ('28', image28, "Healthy Green Juice", "$180")
      ] %}
      <div class="col-lg-3 col-md-4 col-6 mb-4 product-card">
        <div class="product-img-box">
          <img src="{{ img }}" class="img-fluid" style="height:200px;">
          <div class="hover-icons">
            <!-- Quick View -->
                <a href="{{ url_for('views.product_detail', product_id=id) }}">
                  <i class="bi bi-eye"></i>
                </a>
            <a href="{{ url_for('views.add_to_wishlist', product_id=id) }}">
  <i class="bi bi-heart"></i>
</a>
            <a href="#" onclick="shareProduct('{{ name }}', '{{ id }}')">
    <i class="bi bi-share-fill"></i>
</a>
          </div>
        </div>
        <h6 class="mt-2">{{ title }}</h6>
        <h6 class="mb-1" style="color:#0B7D2A">{{ price }}</h6>
         <form action="{{ url_for('views.add_to_cart', product_id=id) }}" method="POST">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" name="quantity" value="1">
              <button type="submit" class="btn btn-success w-10">
                Add to Cart
              </button>
            </form>
      </div>
      {% endfor %}
    </div>
</div>

</div>
{% endblock %}
